.root {
    -fx-font-size: 14;
}

.booklesson {
    -fx-background-color: dodgerblue;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: white;
}

.rectangular-button {
    -fx-background-color: dodgerblue;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.button-container {
    -fx-padding: 10;
}
